<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sharps"
    android:versionCode="8"
    android:versionName="1.8" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sharps.main.SpreadsheetActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.sharps.main.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sharps.main.GamesActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.sharps.main.ShowGameDetailsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.sharps.main.AddGameActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <!-- enable the base activity to send searches to itself -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.sharps.main.AddGame"
                android:windowSoftInputMode="adjustPan" />
        </activity>
        <activity
            android:name="com.sharps.main.SearchResultsActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
    </application>

</manifest>